.sidenav {
  width: 250px;
  height: 100vh;
  background-color: #f8f9fa;
  position: fixed;
  top: 40;
  left: 0;
  padding-top: 20px;
}

 .nav-link {
  color: #000;
  margin: 10px 0;
}

.sidenav .nav-link:hover {
  background-color: red;
}
